<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/theme/static/src/css/style.css">
    <title>Persnoal Portfolio</title>
</head>

<body>
    <header>
        <section id="an_header_section_main">
            <div class="an_navbar navbar navbar-expand-lg">
                <div class="container">
                    <a class="an_navbar_brand navbar-brand" href="#">
                        <img src="/theme\static\src\img\header_icon.webp" alt="logo" class="an_header_icon"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                    <div class="an_navbar_collapse collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="an_navbar_nav navbar-nav mb-2 mb-lg-0">
                            <li class="an_nav_item nav-item">
                                <a class="an_nav_link nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="an_nav_item nav-item">
                                <a class="an_nav_link nav-link" href="#">About Me</a>
                            </li>
                            <li class="an_nav_item nav-item">
                                <a class="an_nav_link nav-link" href="#">Experience</a>
                            </li>
                            <li class="an_nav_item nav-item">
                                <a class="an_nav_link nav-link" href="#">Service</a>
                            </li>
                            <li class="an_nav_item nav-item">
                                <a class="an_nav_link nav-link" href="#">Contact Me</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <!-- HERO SECTION START -->
    <section id="an_hero_section_main">
        <div class="an_hero_section_img">
            <div class="an_hero_main_div">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                            <div class="an_hero_title_main">
                                <h4 class="an_hero_title">
                                    I am <span class="an_hero_title_span">Anand Chauhan</span>
                                </h4>
                                <h1 class="an_hero_sub_title">Web Designer</h1>
                                <p class="an_hero_intro">I’m a Web Designer specializing in Odoo website design and customization. I create responsive, user-friendly websites using HTML, CSS, SCSS, Bootstrap, and Odoo’s website builder. My focus is on clean design, dynamic content,
                                    and smooth user experience within the Odoo framework.</p>
                                <a href="https://linktr.ee/an_d_chauhan" target="_blank" class="an_colabration_btn btn">Let's Collaborate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- HERO SECTION END -->

    <!-- EXPERIENCE SECTION START -->
    <section id="an_experience_Section_main">
        <div class="container">
            <div class="row text-center">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                    <div class="an_experience_card">
                        <div class="an_experience_card_img_main">
                            <img src="/theme/static/src/img/experience/html.png" alt="Experience Icon" class="an_experience_img">
                        </div>
                        <div class="an_experience_counter_main">
                            <span class="an_experience_counter">99</span><span>%</span>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                    <div class="an_experience_card">
                        <div class="an_experience_card_img_main">
                            <img src="/theme/static/src/img/experience/css.png" alt="Experience Icon" class="an_experience_img">
                        </div>
                        <div class="an_experience_counter_main">
                            <span class="an_experience_counter">90</span><span>%</span>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                    <div class="an_experience_card">
                        <div class="an_experience_card_img_main">
                            <img src="/theme/static/src/img/experience/bootstrap.png" alt="Experience Icon" class="an_experience_img">
                        </div>
                        <div class="an_experience_counter_main">
                            <span class="an_experience_counter">90</span><span>%</span>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                    <div class="an_experience_card">
                        <div class="an_experience_card_img_main">
                            <img src="/theme/static/src/img/experience/scss.png" alt="Experience Icon" class="an_experience_img">
                        </div>
                        <div class="an_experience_counter_main">
                            <span class="an_experience_counter">60</span><span>%</span>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                    <div class="an_experience_card">
                        <div class="an_experience_card_img_main">
                            <img src="/theme/static/src/img/experience/figma.png" alt="Experience Icon" class="an_experience_img">
                        </div>
                        <div class="an_experience_counter_main">
                            <span class="an_experience_counter">95</span><span>%</span>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                    <div class="an_experience_card">
                        <div class="an_experience_card_img_main">
                            <img src="/theme/static/src/img/experience/framer.png" alt="Experience Icon" class="an_experience_img">
                        </div>
                        <div class="an_experience_counter_main">
                            <span class="an_experience_counter">80</span><span>%</span>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                    <div class="an_experience_card">
                        <div class="an_experience_card_img_main">
                            <img src="/theme/static/src/img/experience/canva.png" alt="Experience Icon" class="an_experience_img">
                        </div>
                        <div class="an_experience_counter_main">
                            <span class="an_experience_counter">85</span><span>%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- EXPERIENCE SECTION END -->

    <!-- SERVICE SECTION START -->
    <section id="an_service_section_main">
        <div class="container">
            <div class="row">
                <div class="col-xxl-5">
                    <div class="an_service_left_col_main">
                        <div class="an_service_col_heading_main">
                            <h6 class="an_service_sub_heading">What I do</h6>
                            <h2 class="an_service_title_heading">What Do I Help?</h2>
                        </div>
                        <p class="an_service_description">I help businesses and individuals build clean, responsive, and user-friendly websites using Odoo. From designing custom themes to optimizing user experience, I ensure your web presence is both attractive and functional.</p>
                        <div class="an_service_img_left wow fadeInUp animated" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInUp;">
                            <div class="an_service_img_inner_main">
                                <div class="an_service_img_inner">
                                    <img src="/theme/static/src/img/service/left_side_img.jpg" alt="service">
                                </div>
                                <!-- /.services-one__image__img -->
                            </div>
                            <!-- /.services-one__image__inner -->
                            <div class="an_service_img__shape an_service_img__shape_1"></div>
                            <!-- /.services-one__image__shape -->
                            <div class="an_service_img__shape an_service_img__shape_2"></div>
                            <!-- /.services-one__image__shape -->
                        </div>
                    </div>
                </div>
                <div class="col-xxl-7"></div>
            </div>
        </div>
    </section>
    <!-- SERVICE SECTION END -->


    <script src="/theme/static/src/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>